<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Tracker Taxis CE</a>
</nav>
<div class="container-fluid">
  <div class="row pt-2">
    <div class="col-8">
      <h3>Mapa</h3>
      <div class="map">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="14">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div>
    </div>
    <div class="col-4">
      <h3>Conductores</h3>
      <ul class="list-group">
        <li class="list-group-item active">Cras justo odio</li>
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Cras justo odio</li>
      </ul>
    </div>
  </div>
</div>
